@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

// Primary colors
$paleBlue: hsl(225, 100%, 94%);
$BrightBlue: hsl(245, 75%, 52%);

// Neutral colors
$VeryPaleBlue: hsl(225, 100%, 98%);
$DesaturatedBlue: hsl(224, 23%, 55%);
$DarkBlue: hsl(223, 47%, 23%);

// mixin margin to box_info
@mixin box_margin {
    margin-bottom: 7%;
}

body{
    background: url("../assets/pattern-background-desktop.svg") no-repeat $paleBlue;
    background-size: 100vw;
    min-height: 100vh;
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.box{
    background-color: white;
    text-align: center;
    width: 25vw;
    height: 72vh;
    border-radius: 20px;
    
    .img_box img{
        border-radius: 20px 20px 0px 0px;
        width: 100%;
    }
}

.box_info{
    padding-top: 7%;
    width: 70%;
    display: block;
    margin: auto;

    h2{
        color: $DarkBlue;
        font-weight: 900;
        @include box_margin();
    }
    p{
        color: $DesaturatedBlue;
        @include box_margin();
    }
}

.plan{
    display: flex;
    background-color: $VeryPaleBlue;
    padding: 20px;
    @include box_margin();
    border-radius: 20px;

    a{
        margin: 7% 0% 0% 25%;
    }
}

.plan_info{
    text-align: left;
    margin-left: 7%;
    h3{
        font-size: 1rem;
    }
}

.button_display{
    display: inline-grid;
    width: 100%;
    height: 20vh;
    margin-top: 4%;

    button{
        color: white;
        font-weight: 700;
        font-size: medium;
        background-color: $BrightBlue;
        width: 100%;
        height: 60%;
        border: none;
        border-radius: 16px;
        box-shadow: 0px 15px 5px $VeryPaleBlue;
        cursor: pointer;
    }

    a{
        color: $DesaturatedBlue;
        text-decoration: none;
        font-weight: 900;
    }
}

